[submodule "Emotion-Detection-Music-Recommendation-System.git"]
	path = Emotion-Detection-Music-Recommendation-System.git
	url = https://github.com/manyamittal25/Emotion-Detection-Music-Recommendation-System.git
